@model Microsoft.AspNetCore.Identity.IdentityRole
@{
	ViewData["title"] = "Update Role";
}
<h4>Update Role</h4>
<div class="col-md-9">
	<form asp-action="Edit" enctype="multipart/form-data">
		<div asp-validation-summary="ModelOnly" class="text-danger">

		</div>
		<div class="form-group">
			<label>Name</label>
			<input asp-for="Name" class="form-control"/>
			<span asp-validation-for="Name" class="text-danger"/>
		</div>

		
		<div class="form-group">
			<button class="btn btn-primary">Update</button>
		</div>

	</form>
	<a asp-action="Index">Back To List Brand</a>
</div>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}